
<div class="container my-3 justify-content-start">
    <div class="row">  
        <div class="col-1" style="width: 20rem">
            <div class="row">
                <div class="col">
                    <img src="@ViewBag.URL" class="book-img" />
                </div>
                <div class="col-1" style="width: 2px">
                    <div class="vr" style="background-color: white; width: 2px; height: 100%"></div>
                </div>
            </div>
        </div>

        <div class="col text-light pt-3">
            <strong>Título: </strong><p>@ViewBag.Title</p>
            <strong>Descripción: </strong><p>@ViewBag.Description</p>
            <strong>Año de publicación: </strong><p>@ViewBag.Year</p>
            <strong>Autores: </strong><p>@ViewBag.Authors</p>
            <strong>Cantidades disponibles: </strong><p>@ViewBag.Count</p>
        </div>
    </div>
    <div class="container my-3">
        @if(ViewBag.Count == 0)
        {
            <button class="btn btn-custom-1" disabled>Pedir préstamo</button>
            <button class="btn btn-secondary" disabled>Agregar a carrito</button>
        }else
        {
            <a href="@Url.Action("AddCart", "Book", new { bookId = ViewBag.ID, once=true })" class="btn btn-custom-1">Pedir préstamo</a>
            <a href="@Url.Action("AddCart", "Book", new { bookId = ViewBag.ID, once=false })" class="btn btn-secondary">Agregar a carrito</a>
        }

    </div>

    @{
        if(ViewBag.RoleID >= 2)
        {
            <div class="container my-3">
                <strong class="text-light">Admin controls</strong><br />
                <button class="btn btn-danger">Eliminar</button>
            </div>
        }
    }

</div>
