
<div class="container my-3 justify-content-start">
    <div class="row">  
        <div class="col-1" style="width: 20rem">
            <div class="row">
                <div class="col">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM9DnrNw2g1Rklts1JAsyN-oJaJ7OSqRusNA&s" class="book-img" />
                </div>
                <div class="col-1" style="width: 2px">
                    <div class="vr" style="background-color: white; width: 2px; height: 100%"></div>
                </div>
            </div>
        </div>

        <div class="col text-light pt-3">
            <strong>Título: </strong><p>@ViewBag.Title</p>
            <strong>Descripción: </strong><p>@ViewBag.Description</p>
            <strong>Año de publicación: </strong><p>@ViewBag.Year</p>
            <strong>Autores: </strong><p>@ViewBag.Authors</p>
            <strong>Cantidades disponibles: </strong><p>@ViewBag.Count</p>
        </div>
    </div>
    <div class="container my-3">
        <button class="btn btn-custom-1">Pedir préstamo</button>
        <button class="btn btn-secondary">Agregar a carrito</button>
    </div>
    <div class="container my-3">
        <strong class="text-light">Admin controls</strong><br />
        <button class="btn btn-primary">Eliminar</button>
        <button class="btn btn-secondary">Editar</button>
    </div>
</div>
